title = "Product"
url = "/product"
layout = "default"
is_hidden = 0
==


<?php

use Custom\product\Controllers\Products;
use Custom\product\Model\Product;


function onStart()
{
  $this['products'] =  book::productdetails();
}


?>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Products</b></h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
			<!-- Carousel indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>   
			<!-- Wrapper for carousel items -->
			<div class="carousel-inner">
				<div class="item carousel-item active">
					<div class="row">
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="{{products.Image}}" class=img-responsive-img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>{{products.ProductName}}</h4>
									<p class="item-price"><strike>${{products.Price}}</strike> <span>${{products.Sale Price}}</span></p>
									<a href="#" class="btn btn-primary">Add to Cart</a>
								</div>						
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Carousel controls -->
			<a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
				<i class="fa fa-angle-left"></i>
			</a>
			<a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
				<i class="fa fa-angle-right"></i>
			</a>
		</div>
		</div>
	</div>
</div>

